html, body{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}
header, footer{
	color: #fff;
	display: block;
	padding: 2vh;
	text-align: center;
	position: relative;
}
footer{
	background: #1e2327;
	font-size: 10pt;
	color: rgba(255,255,255,0.8)
}
header{
	padding: 20vh 4vw;
	padding-bottom: calc(20vh + 4vh);
	overflow: hidden;
	box-sizing: border-box;
}
header .contacts{
	background: rgba(0,0,0,0.3);
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100vw;
}
header .contacts a{
	display: inline-flex;
	align-content: center;
	color: #fff;
	padding: 10px;
}
header .contacts a:nth-child(2){
	margin-left: 20px;
	margin-right: 20px;
}
header .bg{
	width: 100vw;
	height: 120%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-position: center;
	z-index: -1;
}
.with-icon{
	display: flex;
	align-items: center;
}
footer .with-icon{
	display: flex;
	justify-content: center;
}
.with-icon i{
	margin-left: 5px;
	margin-right: 5px;
}
h1, h2, h3, h4{
	font-weight: normal;
}
.wrapper{
	display: flex;
	flex-direction: column;
}
section#content,
section#resume{
	align-self: center;
	max-width: 800px;
	margin: 4vw auto;
	margin-top: 8vh;
	margin-bottom: 8vh;
}
a{
	color: #00c75a;
	cursor: pointer;
	text-decoration: none;
	border-radius: 4px;
	align-items: center;
}
a.button{
	color: #fff;
	background: #00c75a;
	padding: 10px 20px;
	display: inline-flex;
	font-size: 10pt;
	text-transform: uppercase;
	text-transform: uppercase;
	align-items: center;
	margin-bottom: 5px;
}
a i{
	margin-right: 10px;
}
.profile-pic{
	width: 40vw;
	max-width: 150px;
	box-shadow: 0 3px 10px -5px #000;
	border-radius: 40vw;
}
hgroup h1, hgroup h2, hgroup h3, hgroup h4{
	padding: 0;
	margin: 0;
}
hgroup h2{
	font-size: 10pt;
	letter-spacing: 2px;
	font-weight: normal;
	text-transform: uppercase;
	opacity: 0.7;
}
hgroup{
	margin-bottom: 20px;
}
.box{
	background: #1e2327;
	border: solid thin #1e2327;
	padding: 10px 30px;
	color: #fff;
	border-radius: 3px;
	font-size: 10pt;
	margin-bottom: 30px;
}
hr{
	border: none;
	border-top: solid thin #fff;
	opacity: 0.3;
}
.tech-stack{
	opacity: 0.6;
}
@media screen and (max-width: 767px) {
	*{
		box-sizing: border-box;
	}
	a{
		/*display: flex;*/
		width: 100%;
		box-sizing: border-box;
		text-align: left;
		margin-bottom: 3px;
		margin-right: 0 !important;
		margin-left: 0 !important;
		/*padding: 10px 4vw !important;*/
	}
	header{
		padding-bottom: calc(20vh + 20vh);
	}
	.box{
		padding: 10px 20px;
	}
}
small{
	font-size: 10pt;
	opacity: 0.7;
}
.right{
	float: right;
}
.code-heading{
	display: block;
	color: #00c75a;
	padding-top: 1em;
}
.uppercase{
	text-transform: uppercase;
}

/* Vue transitions */
.slide-fade-enter-active {
  transition: all .3s ease .3s;
}
.slide-fade-leave-active {
  transition: all .3s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(20px);
  opacity: 0;
}