html, body{
	overflow-x: hidden;
	font-family: 'Segoe UI', 'Roboto', 'Helvetica', sans-serif;
	color: #333

}
*{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-user-select:none;

	pointer-events: none;
	cursor: default;

-webkit-transition-timing-function: cubic-bezier(0.555, 0.015, 0.115, 0.995); 
   -moz-transition-timing-function: cubic-bezier(0.555, 0.015, 0.115, 0.995); 
     -o-transition-timing-function: cubic-bezier(0.555, 0.015, 0.115, 0.995); 
        transition-timing-function: cubic-bezier(0.555, 0.015, 0.115, 0.995); /* custom */
}
a,
.show_button{
	pointer-events: all;
	cursor: pointer;
}
a{
	color: inherit;
}

#canvas{
	pointer-events: all;
	display: block;
	position: fixed;
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	opacity: 1;
	transform: translateX(100%);
	transition: opacity .3s, transform .6s;
}
#starter{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateX(0%);
	transition: transform .4s, opacity .3s;
}
#information{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	padding: 0;
	display: block;
	transform: translateX(10%);
	opacity: 0;
	transition: transform .6s, opacity .6s;
}
#bg{
	position: fixed;
	margin: 0;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: 0;
	background: url(../img/bg.jpg) center;
	background-size: cover;
	opacity: 0.2;
}

h1, h2{
	margin: 0;
	padding: 0;
}
h1{
	font-weight: 300;
}
h2{
	font-weight: 400;
}
.versionNotes{
	opacity: 0.5;
	position: absolute;
	top: 10px;
	right: 30px;
	font-size: smaller;
	text-align: right;
	color: #999;

}
.myTitle{
}
.myEmail a{
	font-size: 12pt;
	text-decoration: none;
	color: #333;
}

.myPicture{
	height: 25vh;
}
.myPicture_shadow{
	width: 35vh;
	height: 3vh;
	margin-top: -1.5vh;

}
.myName{
	font-size: 30pt;
	margin-top: 3vh;
}
.myTitle{
	text-transform: uppercase;
	font-size: 12pt;
}
.show_button{
	display: flex;
	text-transform: uppercase;
	font-size: 11pt;
	font-weight: 400;
	border: solid 1px #333;
	border-radius: 20vh;
	padding: 1.5vh 4vh;
	margin-top: 3vh;
	cursor: pointer;
	margin-bottom: 7vh;
	transition: all .3s;
}

.show_button_icon{
	margin-right: 10pt;
	height: 13pt;
}
.show_button .userIcon_svg{
	fill: #333;
	transition: all .3s;
}
.show_button:hover{
	background: #333;
	color: #fff;
}
.show_button:hover .userIcon_svg{
	fill: #fff;
}
.myEmail{
	position: absolute;
	bottom: 2vh;
	transition: all .3s;
}
.myEmail a{
	transition: all .3s;
}
.myEmail:hover a{
	color: #666;
}

.side_section{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	display: block;
}

.side_section .side_picture{
	height: 25vh;
    left: 7vw;
    position: absolute;
    top: 5vh;
    background: #fff;
    border: solid #fff 1vh;
    border-radius: 36vh;
}
.text-content{
	position: absolute;
	bottom: 4vh;
	left: 6vh;
	width: 37vh;
}
.side_section .text-content .side_name{
	font-size: 4.4vh;
}
.side_section .text-content .side_title{
	font-size: 2.2vh;
	text-transform: uppercase;
}
.side_section .text-content .side_email{
	margin-top: 3vh;
	font-size: 2.2vh;
}
.side_section .text-content .side_email a{
	text-decoration: none;
	color: #333;

	transition: all .3s;
}
.side_section .text-content .side_email a{
	color: #666;
}

#side_picture{
	transform: translate(-30vh, -30vh);
	opacity: 1 !important;
	transition: all .5s;
}
#nav{
    position: absolute;
    top: 30vh;
    left: 23vw;
    display: block;
}
#nav ul{
	pointer-events: all;
	width: 9vw;
	color: #fff;
    list-style: none;
    padding-left: 0;
    text-align: right;
    text-transform: uppercase;
    font-size: 11pt;
}
#nav ul li{
	pointer-events: all;
	padding: 8pt;
	padding-right: 20pt;
	border-right: 2pt #fff solid;
	transition: all .1s;
}
#nav ul li.active,
#nav ul li:hover{
	border-right: 4pt #fff solid;
}

::-webkit-scrollbar {
    width: 12px;
	padding: 10px;
}
 
::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
	margin: 10px;
	background-color: #ccc;
    border-radius: 10px;
}


#content.content{
	pointer-events: none;
	color: #fff;
	margin-left: 30vw;
	padding: 15vh;
	height: 70vh;
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
}
#content h2{
	font-size: 12pt;
	font-weight: bold;
	text-transform: uppercase;
}